@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

#root {
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  line-height: 1.5rem;
  border: 1px solid #faf9f6;
  border-radius: 1rem;
  background: rgb(26, 26, 26);
  background: linear-gradient(
    50deg,
    rgba(26, 26, 26, 0.9289916650253851) 12%,
    rgba(0, 0, 0, 1) 88%
  );
}
label {
  font-family: "Bebas Neue";
  font-size: 1.8em;
}

.info {
  font-family: "Bebas Neue";
  font-size: 3em;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
select {
  height: 40px;
  font-size: larger;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/texture.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-color: #1a1a1a;
  color: #f9f9f9;
}
.flexContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statsContainer {
  display: flex;
  justify-content: space-evenly;
}
.statsContainer p {
  text-align: center;
  font-size: 1.5rem;
}

.desc {
  font-family: "Noto Serif";
}
h1 {
  font-family: "Tilt Prism";
  font-size: 5em;
  text-align: center;
  color: #d72727;
}

h3 {
  text-align: center;
  font-family: "Bebas Neue";
  font-weight: lighter;
  font-size: 1.5rem;
}
p,
button {
  font-family: "Bebas Neue";
}

button {
  font-size: 2rem;
}

p.info {
  width: auto;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align the content at the bottom */
  padding: 2rem; /* Add padding for spacing */
}

.imgContainer img {
  max-width: 100%;
}

.randomDice {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.randomDiceImg {
  width: 4rem;
}

@media (max-width: 768px) {
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 3rem;
  }

  .randomDiceImg,
  .imgContainer img {
    max-width: 100%;
    height: auto;
  }
  .flexContainer {
    flex-direction: column;
    align-items: center;
  }
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  position: absolute;
  left: 90%;
  top: 10%;
}
button.btn-modal {
  font-size: 1em;
  background-color: #1a1a1a;
  border: 1px solid white;
  border-radius: 25%;
  color: white;
}
.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #1a1a1a;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
  font-size: 1.5em;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1em;
  background-color: #1a1a1a;
  border: 1px solid white;
  border-radius: 25%;
  color: white;
}
