@import url("https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap");

#root {
  max-width: 980px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  line-height: 1.5rem;
  border: 1px solid #faf9f6;
  border-radius: 1rem;
  background: rgb(26, 26, 26);
  background: linear-gradient(
    50deg,
    rgba(26, 26, 26, 0.9289916650253851) 12%,
    rgba(0, 0, 0, 1) 88%
  );
}
.info {
  font-family: "Bebas Neue";
  font-size: 3em;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
select {
  height: 40px;
  font-size: larger;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("./assets/texture.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-color: #1a1a1a;
  color: #f9f9f9;
}
.flexContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statsContainer {
  display: flex;
  justify-content: space-evenly;
}
.statsContainer p {
  text-align: center;
  font-size: 1.5rem;
}

.desc {
  font-family: "Noto Serif";
}
h1 {
  font-family: "Tilt Prism";
  font-size: 5em;
  text-align: center;
  color: #d72727;
}

h3 {
  text-align: center;
  font-family: "Bebas Neue";
  font-weight: lighter;
  font-size: 1.5rem;
}
p,
button {
  font-family: "Bebas Neue";
}

button {
  font-size: 2rem;
}

p.info {
  width: auto;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* Align the content at the bottom */
  padding: 2rem; /* Add padding for spacing */
}

.imgContainer img {
  max-width: 100%;
}

.randomDice {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
.randomDiceImg {
  width: 4rem;
}
